* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: darkslategrey;
    --container1: #677f7f;
    --container2: #7a8f8f;
    --text1: #c6cfcf;
    --text2: white;
    --success: #2ecc71;
    --fail: #e74c3c;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: white;
}

.mid-column {
  margin: 0 auto;
  padding-top: 24px;
  width: 800px;
  min-width: 800px;
  display: flex;
  justify-content: center;
  flex-flow: row;
}

nav {
    width: 100%;
    height: 24px;
    background-color: black;
    position: fixed;
    display: block;
    margin: 0;
    z-index: 999;
}

ul {
    margin: 0 auto;
    width: 800px;
    padding-left: 64px;
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 24px;
}

ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text1);
    padding: 0 20px;
    display: block;
}

ul li a:hover {
    color: white;
    background-color: rgb(29, 29, 29);
    filter: brightness(130%);
    /*text-decoration: underline;*/
}

.message-bar {
    width: auto;
    height: 24px;
    padding-right: 64px;
    right: 0;
    top: 0;
    overflow: hidden;
    display: block;
    z-index: 1000;
    position: fixed;
}

.message-bar .message {  
    display: inline-block;
    line-height: 24px;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text2);
    padding: 0;
}

.flex-container1 {
    display: block;
    position: fixed;
    min-height: 100%;
    margin: 0 390px 0 auto;
}

.flex-container2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    min-height: auto;
    margin: 0 auto 0 390px;
    width: calc(100% - 382px);
    min-width: 352px;
    padding-bottom: 24px;
}

.container {
    color: var(--text1);
    background-color: var(--container1);
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    overflow: hidden;
    width: 350px;
    max-width: 100%;
    margin: 16px;
}

.profile-view-top {
    line-height: 96px;
    text-align: justify;
    display: flex;
    padding: 8px 0px;
    margin: 0 32px;
    width: auto;
    height: auto;
    border-bottom: 3px solid var(--text1);
}

.profile-view-top img {
    margin: 0;
    display:inline-block;
    max-width: 96px;
    max-width: 96px;
    border-radius:48px;
}

.profile-view-top h3 {
    color: inherit;
    padding: 0px;
    margin: 0px 16px;
    width: auto;
    display: inline-block;
}

.profile-view-main {
    margin: 30px 30px 0 30px;
    background-color: var(--container2);
    border-radius: 8px;
    padding: 10px 0;
    width: auto;
    display: flex;
    line-height: 2;
    border-radius: 8px;
    overflow: hidden;
}

.profile-view-main .left-field {
    font-size: 14px;
    width: 30%;
    text-align: right;
    line-height: inherit;
    display: inline-block;
}

.profile-view-main .right-field {
    font-size: 14px;
    color: var(--text2);
    width: 70%;
    padding-left: 10px;
    line-height: inherit;
    display: inline-block;
}

.container .postbox img {
    margin: 16px 0px 4px 0px;
    border-radius: 6px;
    max-width: 100%;
    max-height: 100%;
}

.postbox .profile-field {
    line-height: 50px;
    text-align: justify;
    display:flex;
    padding: 8px 0px;
    margin: 0 32px;
    width: auto;
    height: 64px;
    border-bottom: 3px solid var(--container2);
}

.postbox .profile-field img {
    margin: 0;
    display:inline-block;
    max-width: 48px;
    max-width: 48px;
    border-radius:24px;
}

.profile-img2 {
    display:inline-block;
    max-width: 96px;
    max-width: 96px;
    border-radius:48px;
    margin: 16px 16px 0px 32px;
}

.postbox .profile-field h4 {
    color: inherit;
    padding: 0px;
    margin: 0px 16px;
    width:auto;
    display: inline-block;
}

.postbox a {
    color: inherit;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
}

.postbox a:hover {
    color:white;
    text-decoration: underline;
}

.postbox .post-header {
    width: 100%;
    padding: 0 32px;
    height: 32px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.postbox .post-footer {
    width: 100%;
    padding: 0 24px;
    height: 32px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.postbox .post-footer2 {
    width: 100%;
    padding: 0 24px;
    height: 24px;
    display: block;
    align-items: center;
}

.postbox small{
    font-size: 12px;
    padding: 0;
}

.postbox .form-link-btn {
    display: inline-block;
    padding: 0 16px
}

.postbox .link-reply-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: var(--text1);
    padding: 0 16px;
    margin: 0;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
}

.postbox .link-reply-btn:hover {
  color:white;
  text-decoration: underline;
}

.postbox .link-delete-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: var(--text1);
    padding: 0 16px;
    margin: 0;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
}

.postbox .link-delete-btn:hover {
  color:white;
  text-decoration: underline;
}

.postbox .link-view-reply-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: var(--text1);
    padding: 0 16px;
    margin: 0;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
}

.postbox .link-view-reply-btn:hover {
  color:white;
  text-decoration: underline;
}

.postbox .link-delete-reply-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: var(--text1);
    padding: 0 16px;
    margin: 0;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
}

.postbox .link-delete-reply-btn:hover {
  color:white;
  text-decoration: underline;
}


.postbox .post-footer .link-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: var(--text1);
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
}

.container .postbox .link-btn:hover {
    color:white;
    text-decoration: underline;
}

.container .postbox p {
    color: var(--text1);
    padding: 8px 16px;
    margin: 0px 24px;
    display: block;
    width: auto;
    background-color: var(--container2);
    border-radius: 8px;
    font-size: 14px;
}

/*.container .postbox small {
  color: var(--text1);
  padding: 8px 0px 8px 32px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
}*/

.container .formbox {
    position: static;
}

.formbox .header {
    margin: 0px 40px;
    padding: 20px 0px;
    color: var(--text1);
    border-bottom: 3px solid var(--text1);
}

.formbox .header h2 {
    margin: 0px;
}

.formbox .header h4 {
    margin: 0px;
}

.formbox .paragraf {
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 40px;
    color: var(--text1);
    margin-top: 16px;
}

.formbox .paragraf p1 {
    margin: 0px;
}

.formbox .paragraf p2 {
    width: 25%;
    min-width: 128px;
    text-align: right;
    clear: both;
    float: left;
    margin: 0px 16px 0px 0px;
}

.formbox .form {
    padding: 20px 40px;
    color: var(--text1);
}

.formbox .form-control {
    margin-bottom: 0px;
    padding-bottom: 20px;
    position: relative;  
}

.formbox .form-control label {
    display: inline-block;
    margin-bottom: 4px;
}

.formbox .form-control input {
    border: 3px solid var(--container1);
    background-color: var(--background);
    color: white;
    border-radius: 8px;
    display: block;
    font-family: inherit;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.formbox .custom-file-upload {
    background-color: var(--background);
    border: 2px solid var(--background);
    color: var(--text1);
    display: inline-block;
    width: 50%;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    margin-bottom: 24px;
}

.formbox .form-control textarea {
    background-color: var(--background);
    color: white;
    border: 3px solid var(--container1);
    border-radius: 8px;
    display: block;
    width: 100%;
    height: 128px;
    padding: 10px;
    font-size: 14px;
    resize: none;
}

.formbox .form button {
    cursor: pointer;
    background-color: var(--background);
    border: 2px solid var(--background);
    color: var(--text1);
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    /*margin-bottom: 24px;*/
}

.formbox .form button:hover {
    filter: brightness(130%);
}

.formbox .form-control.success input {
    border-color: var(--success);
}

.formbox .form-control.error input {
    border-color: var(--fail);
}

.formbox .form-control.success textarea {
    border-color: var(--success);  
}

.formbox .form-control.error textarea {
    border-color: var(--fail);
}

.formbox .form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;    
}

.formbox .form-control.success small {
   visibility: hidden;
}

.formbox .form-control.error small {
    visibility: visible;
    color: var(--fail);
}

.fade-out {
    animation: fadeOut ease-in 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
    visibility:hidden;
  }
}