* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkslategrey;
  color: white;
}

nav {
  width: 100%;
  height: 24px;
  background-color: black;
  position: fixed;
  display: block;
  margin: 0;
  z-index: 999;
}

ul {
  margin-left: 64px;
}

ul li {
  list-style: none;
  display: inline-block;
  line-height: 24px;
}

ul li a {
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #c6cfcf;
  padding: 0 20px;
  display: block;
}

ul li a:hover {
  color: white;
  text-decoration: underline;
}

.flex-container1 {
  display: block;
  position: fixed;
  min-height: 100vh;
  margin: 24px 0;
}

.flex-container2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto 0 360px;
  width: 336px;
  padding-top: 24px;
}

.flex-container3 {
  display: block;
  position: fixed;
  left: 67.5%;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #677f7f;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
  overflow: hidden;
  width: 320px;
  max-width: 100%;
  margin: 16px;
}

.container .postbox img {
  margin: 16px 0px 4px 0px;
  border-radius: 6px;
  max-width: 100%;
  max-height: 100%;
}

.postbox .profile-field {
  line-height: 50px;
  text-align: justify;
  display:flex;
  padding: 8px 0px;
  margin: 0 32px;
  width: auto;
  height: 64px;
  border-bottom: 3px solid #7a8f8f;
}

.postbox .profile-field img {
  margin: 0;
  display:inline-block;
  max-width: 48px;
  max-width: 48px;
  border-radius:24px;
}

.profile-img2 {
  display:inline-block;
  max-width: 96px;
  max-width: 96px;
  border-radius:48px;
  margin: 16px 16px 0px 32px;
}

.postbox .profile-field h4 {
  color: #c6cfcf;
  padding: 0px;
  margin: 0px 16px;
  width:auto;
  display: inline-block;
}

.container .postbox a {
  color: #c6cfcf;
  padding: 8px 32px;
  margin: 0px;
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
}

.container .postbox a:hover {
  color:white;
  text-decoration: underline;
}

.container .postbox .form-link-btn {
  width: 33%;
  display:inline-block;
}

.container .postbox .link-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  color: #c6cfcf;
  padding: 0px 32px 16px 32px;
  margin: 0px;
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  width: 40%;
}

.container .postbox .link-btn:hover {
  color:white;
  text-decoration: underline;
}

.container .postbox p {
  color: #c6cfcf;
  padding: 8px 16px;
  margin: 0px 24px;
  display: block;
  width: auto;
  background-color: #7a8f8f;
  border-radius: 8px;
  font-size: 14px;
}

.container .postbox small {
  color: #c6cfcf;
  padding: 8px 0px 8px 32px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
}

.container .formbox {
  position: static;
}

.formbox .header {
  margin: 0px 40px;
  padding: 20px 0px;
  color: #c6cfcf;
  border-bottom: 3px solid #c6cfcf;
}

.formbox .header h2 {
  margin: 0px;
}

.formbox .header h4 {
  margin: 0px;
}

.formbox .paragraf {
  font-family: 'Times New Roman', Times, serif;
  padding: 0px 40px;
  color: #c6cfcf;
  margin-top: 16px;
}

.formbox .paragraf p1 {
  margin: 0px;
}

.formbox .paragraf p2 {
  width: 25%;
  min-width: 128px;
  text-align: right;
  clear: both;
  float: left;
  margin: 0px 16px 0px 0px;
}

.formbox .form {
  padding: 20px 40px;
  color: #c6cfcf;
}

.formbox .form-control {
  margin-bottom: 0px;
  padding-bottom: 20px;
  position: relative;  
}

.formbox .form-control label {
  display: inline-block;
  margin-bottom: 4px;
}

.formbox .form-control input {
  border: 3px solid #677f7f;
  border-radius: 8px;
  display: block;
  font-family: inherit;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.formbox .custom-file-upload {
  background-color: #415f5f;
  border: 2px solid #415f5f;
  color: #c6cfcf;
  display: inline-block;
  width: 50%;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  margin-bottom: 24px;
}

.formbox .form-control textarea {
  border: 3px solid #677f7f;
  border-radius: 8px;
  display: block;
  width: 100%;
  height: 128px;
  padding: 10px;
  font-size: 14px;
  resize: none;
}

.formbox .form-control.success input {
  border-color: #2ecc71;
}

.formbox .form-control.error input {
  border-color: #e74c3c;
}

.formbox .form-control.success textarea {
  border-color: #2ecc71;  
}

.formbox .form-control.error textarea {
  border-color: #e74c3c;
}

.formbox .form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;    
}

.formbox .form-control.success small {
  visibility: hidden;
}

.formbox .form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

.formbox .form button {
  background-color: #415f5f;
  border: 2px solid #415f5f;
  color: #c6cfcf;
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  /*margin-bottom: 24px;*/
}

.formbox .form button:hover {
  background-color: #546f6f;
}